<html>

<head>
    <title>Auto-Lights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="container" id="app">
        <div id="accordion">
            <div class="card">
                <div class="card-header" id="controls-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-controls">
                            Controls
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse-controls" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                    <control-card v-for="n in allControls" v-bind:title="n.title" v-bind:id="n.id"></control-card>
                    <button id="new-control" v-on:click="createControl" type="button" class="btn btn-primary mt-3">New Control</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="input-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-inputs" aria-expanded="true">
                            Inputs
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse-inputs" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                        <input-card v-for="n in allInputs" v-bind:title="n.title" v-bind:id="n.id" v-bind:input_options="inputTypes" v-bind:input="n.input"></input-card>
                        <button id="new-input" v-on:click="createInput" type="button" class="btn btn-primary mt-3">New Input</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="filters-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-filters" aria-expanded="true">
                            Filters
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse-filters" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                        <filter-card v-for="n in allFilters" v-bind:title="n.title" v-bind:id="n.id"></filter-card>
                        <button id="new-filter" v-on:click="createFilter" type="button" class="btn btn-primary mt-3">New Filter</button>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="endpoints-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse-endpoints" aria-expanded="true">
                            End Points
                        </button>
                    </h5>
                </div>
            </div>
            <div id="collapse-endpoints" class="collapse show" data-parent="#accordion">
                <div class="card-body">
                        <endpoint-card v-for="n in allEndpoints" v-bind:title="n.title" v-bind:id="n.id"></endpoint-card>
                        <button id="new-endpoint" v-on:click="createEndpoint" type="button" class="btn btn-primary mt-3">New Endpoints</button>
                </div>
            </div>
        </div>
        <div>
            <button id="update" type="button" class="btn btn-primary m-3">Update</button>
        </div>
    </div>

    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/Performance_Tools_Tablet.js"></script>
    
</body>

</html>